<p>This is the Chores template</p>

{{input value=description}} <button {{action 'addNew'}}>Add Chore</button>

{{message}}

{{#each chore in model}}
  <li>{{chore.description}}</li>
{{/each}}


{{outlet}}
